.backgroundIcon,
.ioniconaarrowforward {
  position: absolute;
  top: 0;
  left: 0;
  width: 654px;
  height: 290.5px;
  object-fit: cover;
}
.ioniconaarrowforward {
  top: 6.5px;
  left: 55.5px;
  width: 12px;
  height: 12px;
  overflow: hidden;
}
.link {
  position: absolute;
  top: 198.5px;
  left: 0.5px;
  width: 67.5px;
  height: 24px;
}
.wealthCreationIs {
  margin: 0;
}
.wealthCreationIsContainer,
.workWithThe {
  position: absolute;
  top: 31px;
  left: 0.5px;
  line-height: 140%;
  display: inline-block;
  width: 384.5px;
  height: 39px;
}
.workWithThe {
  top: 0;
  left: 0;
  font-size: var(--bold-large-size);
  width: 193px;
  height: 25px;
}
.text {
  position: absolute;
  top: 37.5px;
  left: 39px;
  width: 385px;
  height: 222.5px;
}
.link1,
.secondCard {
  position: absolute;
  top: 0.5px;
  left: 946px;
  width: 654px;
  height: 290.5px;
}
.link1 {
  top: 232px;
  left: 0.5px;
  width: 67.5px;
  height: 24px;
}
.fromColorsCardsContainer,
.purityUiDashboard {
  position: absolute;
  top: 52px;
  left: 0.5px;
  line-height: 140%;
  display: inline-block;
  width: 329.5px;
  height: 39px;
}
.purityUiDashboard {
  top: 21px;
  left: 0;
  font-size: var(--bold-large-size);
  color: var(--gray-gray-700);
  width: 223.5px;
  height: 25px;
}
.builtByDevelopers {
  position: absolute;
  top: 0;
  left: 0.5px;
  font-size: var(--font-size-xs);
  line-height: 150%;
  display: inline-block;
  width: 111px;
  height: 18px;
}
.imageIcon,
.text1 {
  position: absolute;
  top: 17.5px;
  left: 21px;
  width: 330px;
  height: 256px;
}
.imageIcon {
  left: 544.5px;
  width: 360px;
  height: 255.5px;
  object-fit: cover;
}
.firstCard {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--base-color-white);
  box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.02);
  width: 922px;
  height: 290.5px;
  color: var(--gray-gray-400);
}
.bigCards {
  position: absolute;
  top: 207px;
  left: 31.5px;
  width: 1600px;
  height: 291px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--base-color-white);
  font-family: var(--regular-medium);
}
