.dec441Pm,
.newOrder9851258 {
  position: absolute;
  top: 24px;
  left: 0;
  line-height: 150%;
  display: inline-block;
  width: 91px;
  height: 18px;
}
.newOrder9851258 {
  top: 0;
  font-size: var(--font-size-sm);
  line-height: 140%;
  color: var(--gray-gray-700);
  width: 135px;
  height: 19.5px;
}
.adobeXdCcIcon1,
.title {
  position: absolute;
  top: 0.5px;
  left: 37px;
  width: 135px;
  height: 42px;
}
.adobeXdCcIcon1 {
  top: 0;
  left: 0;
  width: 20px;
  height: 19.5px;
  overflow: hidden;
  object-fit: cover;
}
.newCardAddedChild {
  position: absolute;
  top: 23.5px;
  left: 8px;
  border-right: 2px solid var(--gray-gray-200);
  box-sizing: border-box;
  width: 2px;
  height: 20px;
}
.dec1135Pm,
.newCardAdded {
  position: absolute;
  top: 332px;
  left: 0;
  width: 172px;
  height: 42.5px;
}
.dec1135Pm {
  top: 24px;
  line-height: 150%;
  display: inline-block;
  width: 97px;
  height: 18px;
}
.title1,
.unlockPackagesFor {
  position: absolute;
  top: 0;
  width: 229px;
}
.unlockPackagesFor {
  left: 0;
  font-size: var(--font-size-sm);
  line-height: 140%;
  display: inline-block;
  color: var(--gray-gray-700);
  height: 19.5px;
}
.title1 {
  left: 35px;
  height: 42px;
}
.ioniconllogodropbox {
  position: absolute;
  height: 26.23%;
  width: 6.06%;
  top: 1.64%;
  right: 93.94%;
  bottom: 72.13%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.newCardAddedItem {
  position: absolute;
  top: 23px;
  left: 6px;
  border-right: 2px solid var(--gray-gray-200);
  box-sizing: border-box;
  width: 2px;
  height: 39px;
}
.newCardAdded1 {
  position: absolute;
  top: 266px;
  left: 2px;
  width: 264px;
  height: 61px;
}
.newCardAdded3,
.title2 {
  position: absolute;
  top: 0;
  width: 236px;
}
.newCardAdded3 {
  left: 0;
  font-size: var(--font-size-sm);
  line-height: 140%;
  display: inline-block;
  color: var(--gray-gray-700);
  height: 19.5px;
}
.title2 {
  left: 35px;
  height: 42px;
}
.ioniconccarddefault {
  position: absolute;
  height: 26.23%;
  width: 5.9%;
  top: 2.46%;
  right: 94.1%;
  bottom: 71.31%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.newCardAdded2 {
  position: absolute;
  top: 199.5px;
  left: 2px;
  width: 271px;
  height: 61px;
}
.serverPaymentsFor,
.title3 {
  position: absolute;
  top: 0;
  width: 172px;
}
.serverPaymentsFor {
  left: 0;
  font-size: var(--font-size-sm);
  line-height: 140%;
  display: inline-block;
  color: var(--gray-gray-700);
  height: 19.5px;
}
.title3 {
  left: 35px;
  height: 42px;
}
.ioniconccartdefault {
  position: absolute;
  height: 26.23%;
  width: 7.73%;
  top: 1.64%;
  right: 92.27%;
  bottom: 72.13%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.serverPaymentsForApril,
.title4 {
  position: absolute;
  top: 133px;
  left: 2px;
  width: 207px;
  height: 61px;
}
.title4 {
  top: 0;
  left: 35px;
  width: 135px;
  height: 42px;
}
.ioniconllogocss3 {
  position: absolute;
  height: 26.23%;
  width: 9.41%;
  top: 2.46%;
  right: 90.59%;
  bottom: 71.31%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.newOrder {
  position: absolute;
  top: 66.5px;
  left: 2px;
  width: 170px;
  height: 61px;
}
.designChanges1,
.title5 {
  position: absolute;
  top: 0;
  width: 154.5px;
}
.designChanges1 {
  left: 0;
  font-size: var(--font-size-sm);
  line-height: 140%;
  display: inline-block;
  color: var(--gray-gray-700);
  height: 19.5px;
}
.title5 {
  left: 35px;
  height: 42px;
}
.ioniconnnotificationsdefaul {
  position: absolute;
  height: 26.23%;
  width: 8.44%;
  top: 2.46%;
  right: 91.56%;
  bottom: 71.31%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.designChanges,
.items {
  position: absolute;
  top: 0;
  left: 2px;
  width: 189.5px;
  height: 61px;
}
.items {
  top: 113.5px;
  left: 19px;
  width: 273px;
  height: 374.5px;
}
.thisMonth1 {
  color: var(--gray-gray-400);
}
.thisMonth {
  position: absolute;
  top: 31px;
  left: 0;
  line-height: 140%;
  display: inline-block;
  width: 105px;
  height: 19.5px;
}
.ioniconccheckmarkccircle {
  position: absolute;
  top: 33px;
  left: 0;
  width: 15px;
  height: 15px;
  overflow: hidden;
  object-fit: cover;
}
.ordersOverview {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--bold-large-size);
  line-height: 140%;
  color: var(--gray-gray-700);
}
.text {
  position: absolute;
  top: 28px;
  left: 21px;
  width: 142px;
  height: 50.5px;
  font-size: var(--font-size-sm);
  color: var(--green-green-400);
}
.secondCard {
  position: absolute;
  top: 0;
  left: 1081px;
  border-radius: var(--br-mini);
  background-color: var(--base-color-white);
  box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.02);
  width: 519px;
  height: 519px;
}
.progressChild,
.progressItem {
  position: absolute;
  top: 22.5px;
  left: -1.5px;
  border-top: 3px solid var(--gray-gray-200);
  box-sizing: border-box;
  width: 128px;
  height: 3px;
}
.progressItem {
  border-top: 3px solid var(--teal-teal-300);
  width: 58.5px;
}
.b {
  top: 0;
  left: 0;
  line-height: 140%;
  display: inline-block;
  width: 28.5px;
  height: 19.5px;
}
.b,
.b1,
.progress {
  position: absolute;
}
.progress {
  top: 0;
  left: 841.5px;
  width: 125px;
  height: 24px;
  color: var(--teal-teal-300);
}
.b1 {
  top: 2.5px;
  left: 664px;
  line-height: 140%;
  display: inline-block;
  width: 43px;
  height: 19.5px;
}
.avatarsGroup3Horizontal {
  position: absolute;
  top: 0.5px;
  left: 450px;
  width: 74px;
  height: 23px;
  object-fit: cover;
}
.redesignNewOnline {
  position: absolute;
  top: 2.5px;
  left: 37px;
  line-height: 140%;
  display: inline-block;
  width: 182.5px;
  height: 19.5px;
}
.invision1Icon {
  position: absolute;
  top: 1.5px;
  left: 0;
  width: 20px;
  height: 20px;
  overflow: hidden;
  object-fit: cover;
}
.content {
  position: absolute;
  top: 310px;
  left: 0;
  width: 966.5px;
  height: 24px;
}
.newPricingPageChild {
  position: absolute;
  top: 43px;
  left: 0;
  max-height: 100%;
  width: 1012px;
  object-fit: cover;
}
.lineDiv {
  position: absolute;
  top: 22.5px;
  left: -1.5px;
  border-top: 3px solid var(--teal-teal-300);
  box-sizing: border-box;
  width: 39px;
  height: 3px;
}
.addTheNew,
.b3 {
  position: absolute;
  top: 2.5px;
  left: 664px;
  line-height: 140%;
  display: inline-block;
  width: 31.5px;
  height: 19.5px;
}
.addTheNew {
  left: 37px;
  width: 174px;
}
.content1,
.jira31Icon {
  position: absolute;
  left: 0;
}
.jira31Icon {
  height: 87.5%;
  width: 2.07%;
  top: 6.25%;
  right: 97.93%;
  bottom: 6.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.content1 {
  top: 0;
  width: 966.5px;
  height: 24px;
}
.newPricingPage,
.progressChild2 {
  position: absolute;
  top: 248px;
  left: 0;
  width: 1012px;
  height: 43px;
}
.progressChild2 {
  top: 22.5px;
  left: -1.5px;
  border-top: 3px solid var(--teal-teal-300);
  box-sizing: border-box;
  width: 128px;
  height: 3px;
}
.b4,
.b5 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 140%;
  display: inline-block;
  width: 36px;
  height: 19.5px;
}
.b5 {
  top: 2.5px;
  left: 664px;
  width: 51px;
}
.avatarsGroup3Horizontal1 {
  position: absolute;
  height: 95.83%;
  width: 7.66%;
  top: 2.08%;
  right: 45.78%;
  bottom: 2.08%;
  left: 46.56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.launchOurMobile {
  position: absolute;
  top: 2.5px;
  left: 37px;
  line-height: 140%;
  display: inline-block;
  width: 155.5px;
  height: 19.5px;
}
.spotify21Icon {
  position: absolute;
  height: 83.33%;
  width: 2.07%;
  top: 8.33%;
  right: 97.93%;
  bottom: 8.33%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.launchOurMobileApp {
  position: absolute;
  top: 186px;
  left: 0;
  width: 1012px;
  height: 43px;
}
.fixPlatformErrors1,
.notSet {
  position: absolute;
  top: 2.5px;
  left: 664px;
  line-height: 140%;
  display: inline-block;
  width: 47.5px;
  height: 19.5px;
}
.fixPlatformErrors1 {
  left: 37px;
  width: 127px;
}
.slackNewLogo1Icon {
  position: absolute;
  top: 1.5px;
  left: 0;
  width: 20px;
  height: 20.5px;
  overflow: hidden;
  object-fit: cover;
}
.fixPlatformErrors,
.progressChild6 {
  position: absolute;
  top: 124px;
  left: 0;
  width: 1012px;
  height: 43px;
}
.progressChild6 {
  top: 22.5px;
  left: -1.5px;
  border-top: 3px solid var(--teal-teal-300);
  box-sizing: border-box;
  width: 21.5px;
  height: 3px;
}
.addProgressTrack {
  position: absolute;
  top: 2.5px;
  left: 37px;
  line-height: 140%;
  display: inline-block;
  width: 132.5px;
  height: 19.5px;
}
.contentChild {
  position: absolute;
  height: 83.33%;
  width: 2.07%;
  top: 6.25%;
  right: 97.93%;
  bottom: 10.42%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.progressChild8,
.progressTrack {
  position: absolute;
  top: 62px;
  left: 0;
  width: 1012px;
  height: 43px;
}
.progressChild8 {
  top: 22.5px;
  left: -1.5px;
  border-top: 3px solid var(--teal-teal-300);
  box-sizing: border-box;
  width: 85.5px;
  height: 3px;
}
.chakraSoftUi {
  position: absolute;
  top: 2.5px;
  left: 37px;
  line-height: 140%;
  display: inline-block;
  width: 151.5px;
  height: 19.5px;
}
.adobeXdCcIcon11 {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 19.5px;
  overflow: hidden;
  object-fit: cover;
}
.softUiXd {
  top: 0;
  height: 43px;
}
.items1,
.listChild,
.softUiXd {
  position: absolute;
  left: 0;
  width: 1012px;
}
.items1 {
  top: 46.5px;
  height: 334px;
}
.listChild {
  top: 27.5px;
  max-height: 100%;
  object-fit: cover;
}
.completion {
  position: absolute;
  top: 0;
  left: 841.5px;
  line-height: 150%;
  display: inline-block;
  width: 67px;
  height: 15px;
}
.budget {
  position: absolute;
  left: 664px;
  width: 42.5px;
}
.budget,
.companies,
.members {
  top: 0;
  line-height: 150%;
  display: inline-block;
  height: 15px;
}
.members {
  position: absolute;
  left: 450px;
  width: 51.5px;
}
.companies {
  left: 0;
  width: 60px;
}
.companies,
.list,
.titles {
  position: absolute;
}
.titles {
  top: 0;
  left: 0;
  width: 908.5px;
  height: 15px;
  font-size: var(--font-size-3xs);
  color: var(--gray-gray-400);
}
.list {
  top: 107px;
  left: 22.5px;
  width: 1012px;
  height: 380.5px;
}
.doneThisMonthContainer,
.projects {
  position: absolute;
  top: 31px;
  left: 19.5px;
  line-height: 140%;
  display: inline-block;
  width: 121.5px;
  height: 19.5px;
}
.projects {
  top: 0;
  left: 0;
  font-size: var(--bold-large-size);
  color: var(--gray-gray-700);
  width: 71.5px;
  height: 25px;
}
.text1 {
  position: absolute;
  top: 28px;
  left: 21px;
  width: 141px;
  height: 50.5px;
  color: var(--gray-gray-400);
}
.moreVertIcon {
  position: absolute;
  top: 22.5px;
  left: 1014.5px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  object-fit: cover;
}
.contentCards,
.firstCard {
  position: absolute;
  height: 519px;
}
.firstCard {
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--base-color-white);
  box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.02);
  width: 1057px;
  font-size: var(--font-size-sm);
  color: var(--gray-gray-700);
}
.contentCards {
  top: 991px;
  left: 31.5px;
  width: 1600px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--gray-gray-400);
  font-family: var(--regular-medium);
}
