.thisMonth1 {
  color: var(--gray-gray-400);
}
.thisMonth {
  position: absolute;
  top: 31px;
  left: 0;
  line-height: 140%;
  display: inline-block;
  width: 105px;
  height: 19.5px;
}
.ioniconccheckmarkccircle {
  position: absolute;
  top: 33px;
  left: 0;
  width: 15px;
  height: 15px;
  overflow: hidden;
  object-fit: cover;
}
.ordersOverview {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--bold-large-size);
  line-height: 140%;
  color: var(--gray-gray-700);
}
.secondCard,
.text {
  position: absolute;
  top: 28px;
  left: 21px;
  width: 142px;
  height: 50.5px;
}
.secondCard {
  top: 0;
  left: 1083px;
  border-radius: var(--br-mini);
  background-color: var(--blackampwhite-white);
  box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.02);
  width: 517px;
  height: 1295px;
}
.list {
  position: absolute;
  top: 107px;
  left: 22.5px;
  width: 1012px;
  height: 380.5px;
}
.doneThisMonthContainer,
.projects {
  position: absolute;
  top: 31px;
  left: 19.5px;
  line-height: 140%;
  display: inline-block;
  width: 121.5px;
  height: 19.5px;
}
.projects {
  top: 0;
  left: 0;
  font-size: var(--bold-large-size);
  color: var(--gray-gray-700);
  width: 71.5px;
  height: 25px;
}
.moreVertIcon,
.text1 {
  position: absolute;
  top: 28px;
  left: 21px;
  width: 141px;
  height: 50.5px;
}
.moreVertIcon {
  top: 22.5px;
  left: 1014.5px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  object-fit: cover;
}
.contentCards,
.firstCard {
  position: absolute;
  height: 1295px;
}
.firstCard {
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--blackampwhite-white);
  box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.02);
  width: 1055px;
  color: var(--gray-gray-400);
}
.contentCards {
  top: 215px;
  left: 31.5px;
  width: 1600px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--green-green-400);
  font-family: var(--regular-medium);
}
