.in2021 {
  color: var(--gray-gray-400);
}
.moreIn2021Container {
  position: absolute;
  top: 31px;
  left: 0.5px;
  line-height: 140%;
  display: inline-block;
  width: 113.5px;
  height: 19.5px;
}
.salesOverview,
.text {
  position: absolute;
  width: 129.5px;
}
.salesOverview {
  top: 0;
  left: 0;
  font-size: var(--bold-large-size);
  line-height: 140%;
  display: inline-block;
  color: var(--gray-gray-700);
  height: 25px;
}
.text {
  top: 28px;
  left: 21px;
  height: 50.5px;
}
.apr,
.aug,
.dec,
.feb,
.jan,
.jul,
.jun,
.mar,
.may,
.nov,
.oct,
.sep {
  position: absolute;
  top: 0;
  left: 824px;
  line-height: 150%;
  display: inline-block;
  width: 18.5px;
  height: 15px;
}
.apr,
.aug,
.feb,
.jan,
.jul,
.jun,
.mar,
.may,
.nov,
.oct,
.sep {
  left: 748px;
  width: 19px;
}
.apr,
.aug,
.feb,
.jan,
.jul,
.jun,
.mar,
.may,
.oct,
.sep {
  left: 674px;
  width: 17px;
}
.apr,
.aug,
.feb,
.jan,
.jul,
.jun,
.mar,
.may,
.sep {
  left: 598.5px;
  width: 18.5px;
}
.apr,
.aug,
.feb,
.jan,
.jul,
.jun,
.mar,
.may {
  left: 522px;
  width: 19.5px;
}
.apr,
.feb,
.jan,
.jul,
.jun,
.mar,
.may {
  left: 450.5px;
  width: 14.5px;
}
.apr,
.feb,
.jan,
.jun,
.mar,
.may {
  left: 375.5px;
  width: 18px;
}
.apr,
.feb,
.jan,
.mar,
.may {
  left: 299px;
  width: 19.5px;
}
.apr,
.feb,
.jan,
.mar {
  left: 224.5px;
  width: 17.5px;
}
.feb,
.jan,
.mar {
  left: 149.5px;
  width: 18px;
}
.feb,
.jan {
  left: 74.5px;
}
.jan {
  left: 0;
  width: 17.5px;
}
.b,
.b1,
.b2,
.b3,
.b4,
.b5,
.horizontal {
  position: absolute;
  top: 281.5px;
  left: 41px;
  width: 842.5px;
  height: 15px;
}
.b,
.b1,
.b2,
.b3,
.b4,
.b5 {
  top: 250px;
  left: 11px;
  line-height: 150%;
  display: inline-block;
  width: 6px;
}
.b1,
.b2,
.b3,
.b4,
.b5 {
  top: 200px;
  left: 0;
  width: 17px;
}
.b2,
.b3,
.b4,
.b5 {
  top: 150px;
}
.b3,
.b4,
.b5 {
  top: 100px;
}
.b4,
.b5 {
  top: 50px;
}
.b5 {
  top: 0;
}
.lineDiv,
.linesChild,
.linesChild1,
.linesChild2,
.linesInner,
.linesItem {
  position: absolute;
  top: 249.5px;
  left: -0.5px;
  border-top: 1px dashed var(--gray-gray-200);
  box-sizing: border-box;
  width: 841px;
  height: 1px;
}
.lineDiv,
.linesChild1,
.linesChild2,
.linesInner,
.linesItem {
  top: 199.5px;
}
.lineDiv,
.linesChild1,
.linesChild2,
.linesInner {
  top: 149.5px;
}
.lineDiv,
.linesChild1,
.linesChild2 {
  top: 99.5px;
}
.linesChild1,
.linesChild2 {
  top: 49.5px;
}
.linesChild2 {
  top: -0.5px;
}
.lines {
  position: absolute;
  top: 7.5px;
  left: 41px;
  width: 840px;
  height: 250px;
}
.linesIcon,
.vertical {
  position: absolute;
  top: 0;
  left: 0;
  width: 881px;
  height: 265px;
}
.linesIcon {
  top: 7.5px;
  left: 41px;
  width: 840px;
  height: 249.8px;
  object-fit: cover;
}
.data {
  position: absolute;
  top: 119.5px;
  left: 21.5px;
  width: 883.5px;
  height: 296.5px;
  font-size: var(--font-size-3xs);
  color: var(--gray-gray-300);
}
.analyticsCards,
.secondCard {
  position: absolute;
  height: 445px;
}
.secondCard {
  top: 0;
  left: 676px;
  border-radius: var(--br-mini);
  background-color: var(--base-color-white);
  box-shadow: 0 3.5px 5.5px rgba(0, 0, 0, 0.02);
  width: 924px;
}
.analyticsCards {
  top: 522px;
  left: 31.5px;
  width: 1600px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--green-green-400);
  font-family: var(--regular-medium);
}
